<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 p-6 sm:p-10">
        <div class="flex-auto">
            <h2 class="text-3xl font-semibold tracking-tight leading-8">Slack Integration</h2>
            <div class="text-secondary">Manage your Slack chatbot.</div>
        </div>
    </div>
    <div class="p-6 sm:p-10">
        <div class="flex gap-4">
            <button mat-flat-button [color]="'primary'">Start Chatbot</button>
            <button mat-flat-button [color]="'warn'">Stop Chatbot</button>
        </div>
    </div>
</div>
