node_modules
dist
bin
.venv
.typedai/_docs
.typedai/agents
.typedai/aider
.typedai/cli
.typedai/codeTask
.typedai/docs
.typedai/docs-orig
.typedai/dts
.typedai/filestore
.typedai/github
.typedai/gitlab
.typedai/runtime
.typedai/users
.typedai/vibe
